site_name: Resume
site_description: Professional resume
site_url: https://theollister.github.io/resume/

repo_url: https://github.com/theollister/resume
repo_name: theollister/resume
edit_uri: edit/main/my-project/docs/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: index.md
